{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <div class="container">
        {{ include('profile/_form.html.twig') }}
        <img height="50" src="data:image/png;base64, {{ user.avatarBase64 }}" />
    </div>
{% endblock %}
