<!DOCTYPE html>
<html>
  <head>
    {% block stylesheets %}
      {{ encore_entry_link_tags('botplot') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('botplot') }}
    {% endblock %}
  </head>
  <body>
  </body>
</html>
