<!DOCTYPE html>
<html>
  <head>
    {% block stylesheets %}
      {{ encore_entry_link_tags('botplot') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('botplot') }}
    {% endblock %}
  </head>
  <body>
    <div class="pokedex">
    </div>

    <div id="character" class="invisible">
      <div id="objection" class="invisible faster"></div>
      <div id="hold_it" class="invisible faster"></div>
      <div id="take_that" class="invisible faster"></div>
    </div>
  </body>
</html>
