<!DOCTYPE html>
<html>
  <head>
    {% block stylesheets %}
      {{ encore_entry_link_tags('botplot_pokedex') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('botplot_pokedex') }}
    {% endblock %}
  </head>
  <body>
    <div class="options" data-channel="{{ user.channel }}">
      <!-- This just exists to pass options to the javascript -->
    </div>

    <div class="pokedex">
    </div>
  </body>
</html>
