{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="container">
      <h1>Welcome to the Fronds!</h1>
      <div class="row">
        <div class="col-8">
          <p>
            The fronds are a collective of European streamers consisting of
            WhoaMattBerry, Keldamist, bretmwxyz & Aiyekara. Established in 2018
            after a misspelling of the word “Friends”, the fronds name stuck and
            has grown into a community where streamers, viewers, creators and
            artists can all hang out and make friends.<br/>

            We focus on chilling out and having a place to escape the stresses of
            everyday life, both in the twitch chat and in the discord server.
          </p>

          <p>
            We don’t have a lot of strict rules, other than:
            <blockquote class="blockquote">
              Be Excellent To Each Other.
              <footer class="blockquote-footer">
                Bill S. Preston <cite title="Source Title">Bill & Ted’s Excellent Adventure</cite>
              </footer>
            </blockquote>
          </p>
        </div>
        <div class="col">
          <img class="logo" src="build/images/fronds.png" alt="The Fronds" />
        </div>

      </div>

      <h2>The Fronds Cinematic Universe</h2>

      <div class="row">
        <div class="col-3">
          <div class="portrait">
            <div class="plaque">WhoaMattBerry</div>
            <img src="build/images/portrait_dummy_left.png" alt="WhoaMattBerry"/>
          </div>
        </div>
        <div class="col-6">
          <p class="desciption">
            The founding member of the Fronds Cinematic Universe is WhoaMattBerry,
            who streams a variety of Pokémon Challenge Runs with other special
            surprises peppered in there to keep it fresh.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <div class="portrait">
            <div class="plaque">Keldamist</div>
            <img src="build/images/portrait_dummy_left.png" alt="Keldamist"/>
          </div>
        </div>
        <div class="col-6">
          <p class="desciption">
            Keldamist streams a variety of Dark Souls and Monster Hunter Challenge
            runs. Basically, if there’s huge swords and huger bosses, she’ll be
            there.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <div class="portrait">
            <div class="plaque">bretmwxyz</div>
            <img src="build/images/portrait_dummy_left.png" alt="bretmwxyz"/>
          </div>
        </div>
        <div class="col-6">
          <p class="desciption">
            bretmwxyz streams all sorts of things from Pokémon to Batman, and is
            often joined by their partner Zac (detectiveberry). The two of them
            play a variety of mystery games together, amongst other things
          </p>
        </div>
        <div class="col-3">
          <div class="portrait">
            <div class="plaque">Zac</div>
            <img src="build/images/portrait_dummy_right.png" alt="Zac"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <div class="portrait">
            <div class="plaque">Aiyekara</div>
            <img src="build/images/portrait_dummy_left.png" alt="Aiyekara"/>
          </div>
        </div>
        <div class="col-6">
          <p class="desciption">
            Aiyekara is a fan of the shorter, calmer, more artistic indie games.
            With exceptions, of course. Aiyekara is also our resident technomancer,
            who built this website and our bot: ai_yekara
          </p>
        </div>
        <div class="col-3">
          <div class="portrait">
            <div class="plaque">AI_Yekara</div>
            <img src="build/images/portrait_dummy_right.png" alt="AI_Yekara"/>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
