{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div id="pagepiling">

      <div class="section" id="section1">
        <img class="logo" src="build/images/fronds_drop.png" alt="fronds" />

        <div class="headlines">
          <h1>Welcome to fronds.tv</h1>
          <h2>The Home of the Fronds</h2>
        </div>
      </div>


      <div class="section" id="section2">
        <div class="text-container">
          <h1>Welcome to the Fronds!</h1>

          <p>
            The fronds are a collective of European streamers consisting of
            WhoaMattBerry, Keldamist, edensthings & Aiyekara. Established in 2018
            after a misspelling of the word “Friends”, the fronds name stuck and
            has grown into a community where streamers, viewers, creators and
            artists can all hang out and make friends.<br/>

            We focus on chilling out and having a place to escape the stresses of
            everyday life, both in the twitch chat and in the discord server.
          </p>

          <p>
            We don’t have a lot of strict rules, other than:
            <blockquote class="blockquote">
              Be Excellent To Each Other.
              <footer class="blockquote-footer">
                Bill S. Preston <cite title="Source Title">Bill & Ted’s Excellent Adventure</cite>
              </footer>
            </blockquote>
          </p>
        </div>
      </div>

      <div class="section pp-scrollable" id="section3">
        <div class="text-container">
          <h1>The Fronds Cinematic Universe</h1>

          <div class="portrait">
            <img src="{{ render(controller('App\\Controller\\UserListController::avatarSrcByName', {username: 'whoamattberry'})) }}" alt="WhoaMattBerry"/>
          </div>
          <p class="desciption text-right">
            The founding member of the Fronds Cinematic Universe is WhoaMattBerry,
            who streams a variety of Pokémon Challenge Runs with other special
            surprises peppered in there to keep it fresh.
          </p>

          <p class="desciption text-left">
            Keldamist streams a variety of Dark Souls and Monster Hunter Challenge
            runs. Basically, if there’s huge swords and huger bosses, she’ll be
            there.
          </p>
          <div class="portrait">
            <img src="{{ render(controller('App\\Controller\\UserListController::avatarSrcByName', {username: 'keldamist'})) }}" alt="Keldamist"/>
          </div>

          <div class="portrait">
            <img src="{{ render(controller('App\\Controller\\UserListController::avatarSrcByName', {username: 'edensthings'})) }}" alt="edensthings"/>
          </div>
          <p class="desciption text-right">
            Eden streams all sorts of things from Pokémon to Batman, and is
            often joined by their partner Zac (detectiveberry). The two of them
            play a variety of mystery games together, amongst other things
          </p>

          <p class="desciption text-left">
            Aiyekara is a fan of the shorter, calmer, more artistic indie games.
            With exceptions, of course. Aiyekara is also our resident technomancer,
            who built this website and our bot: ai_yekara
          </p>
          <div class="portrait">
            <img src="{{ render(controller('App\\Controller\\UserListController::avatarSrcByName', {username: 'aiyekara'})) }}" alt="Aiyekara"/>
          </div>

        </div>
      </div>
    </div>
{% endblock %}
