html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Questrial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 15px;
}

body {
  background-color: #2173a7;
}

.navbar {
  box-shadow: 0 0 30px #333;
  background-color: rgba(50, 50, 50, 0.2)
}

.section {
  padding-top: 50px;
  background-color: #2173a7;
  background-size: cover;
  font-size: 150%;
}

.section .text-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #333;
}

.section .text-container h1 {
  font-size: 200%;
}

blockquote.blockquote {
  text-align: center;
  font-size: 100%;
}

blockquote footer {
  text-align: right;
}

#section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}

#section1 .centered {
  width: 400px;
}


#section1 .logo {
  height: 70%;
  width: auto;
}

#section1 .headlines {
  text-align: right;
  color: white;
  text-shadow: 4px 4px 0px #000000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px 0px 0 #000,
    0px 1px 0 #000,
    -1px 0px 0 #000,
    0px -1px 0 #000;
}

#section1 .headlines h1 {
  font-size: 300%;
}

#section1 .headlines h2 {
  text-transform: uppercase;
  font-size: 150%;
}

#section3 .text-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#section3 h1 {
  flex-basis: 100%;
}

#section3 .portrait {
  width: 200px;
  padding: 10px;
  flex-basis: 10%;
}

#section3 p.desciption {
  min-height: 140px;
  margin-bottom: 20px;
  flex-basis: 80%;
}

#section3 p.desciption.between {
  flex-basis: 60%;
}

#section3 .portrait img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#section1 {
  background-image: url('/build/images/WW.png')
}

#section2 {
  background-image: url('/build/images/SV.png')
}

#section3 {
  background-image: url('/build/images/Pika.png')
}

#calendar, #legend {
  max-width: 900px;
  margin: 70px auto;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;

  box-shadow: 5px 5px 10px #333;
}

#calendar {
  margin-top: 0;
}

#legend {
  margin-bottom: 5px;
}

#legend .legendEntry {
  color: #fff;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding: 0 0.5em;
  margin-right: 0.5em;
}

#calendar .btn-primary {
  color: #000;
  border-color: #000;
  background-color: #fff;
}

#calendar .btn-primary:hover, #calendar .btn-primary.active {
  color: #000;
  text-shadow: 0 0 3px #aaa;
}

#calendar .btn-primary.active {
  background-color: rgba(33, 115, 167, 0.5);
}

#calendar .btn-primary:focus {
  box-shadow: none;
}

#fronds_profile_cards {
  width: 400px;
}

.profile_card {
  text-align: center;
  max-width: 400px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

  text-align: left;
}

.profile_card.compact {
  height: 72px;
}

.profile_card .name_container {
  float: left;
  margin-left: 30px;
  padding-top: 5px;
}

.profile_card .avatar {
  float: left;
  border-radius: 50%;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #aaaaaa;
}

.profile_card .name {
  font-weight: bold;
  font-size: 110%;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

.profile_card .title {
  color: rgba(0, 0, 0, 0.5);
}

.profile_card .about {
  padding-top: 10px;
  text-align: justify;
}

.profile_card .socials {
  text-align: right;
  font-size: 200%;
}

.container {
  margin-top: 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #333;
  padding: 15px;
}

.container .tab-content {
  padding-top: 20px;
  padding-bottom: 10px;
}

.logo {
  width: 100%;
}
